PORT=3000
MONGODB_URI=mongodb://127.0.0.1:27017/goSpace
JWT_ACCESS_SECRET=replace-with-access-secret
JWT_ACCESS_EXPIRES_IN=2h
WECHAT_APPID=replace-with-wechat-appid
WECHAT_SECRET=replace-with-wechat-secret
ADMIN_API_KEY=replace-with-admin-api-key
ADMIN_USERNAME=su
ADMIN_PASSWORD=su
ADMIN_JWT_SECRET=replace-with-admin-jwt-secret
ADMIN_JWT_EXPIRES_IN=12h